/* #box{
    color: white;
    background-color: blue;
    text-align: center;
    font-family: initial;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
}
.heading{
    color: red;
}
button{
    background-color: green;
}
#heading2{
    text-align: center;
    text-decoration: blue none underline;
}
#h1{
    
    font-weight: 100;
    font-size: normal;
}
#h2{
    font-weight: 350;
}
#h3{
    font-weight: 550;
}
#h4{
    font-weight: 900;
}
a{
    text-decoration: none;
}
#one{
    text-align: center;
    text-transform: capitalize;
    border-width: 4px;
    border-color: blue;
    border-style: solid;
    border-radius: 10px;
    
}
p{
    text-transform: capitalize;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
#outer{
    font-size: 25px;
}
#inner{
    font-size: 15px;
    height: 30px;
    width: 60px;
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    padding: 40px;
    text-align: center; 
} 
 #divp{
    width: 50px;
    height: 130px;
    border-style: double;
    background-color: black;
    border-radius: 10px;
    border-color: blue;
    
    
 }
 #divc1{
    width: 20px;
    height: 20px;
    border-style: solid;
    border-radius: 50%;
    margin:  15px 0px 0px 13px;
    background-color: red;
    border-color: white;
    border-width: 2px;

 } 
#divc2{
    width: 20px;
    height: 20px;
    border-style: solid;
    border-radius: 50%;
    margin:  15px 0px 0px 13px;
    background-color: green;
    border-color: white;
    border-width: 2px;

 } 
#divc3{
    width: 20px;
    height: 20px;
    border: solid;
    border-radius: 50%;
    margin:  15px 0px 0px 13px;
    background-color: yellow;
    border-color: white;
    border-width: 2px;

 }
#divp2{
    width: 5px;
    height: 150px;
    margin: 0px 0px 0px 22px;
    border: solid;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-color: blue;
    border-width: 3px;
    background-color: green;
    
} 
#divp3{
    height: 30px;
    width: 1075px;
    background-color: black;
    border-color: grey;
    border-radius: 6px;
    border-width: 3px;
    border-style: solid;
    
}
*{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}
a{
    padding-right: 130px;
    text-transform: capitalize;
}
#a1{
    font-size: 18px;
    padding-left: 3px;
    color: yellow;
}
button{
    background-color: grey;
}
#a2{
    
}
#h1{
    height: 30px;
    width: 1075px;
    background-color: black;
    border-color: grey;
    border-radius: 6px;
    border-width: 3px;
    border-style: solid;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 4px;
    font-size: 14px;
}
a{
    padding-right: 130px;
    color: white;
    text-decoration: none;
}
button{
    background-color: grey;
}
#a1{
    color: red;
    padding-left: 3px;
    font-size: 18px;
}


#f1{
    margin-top: 350px;
    background-color: blue;
    color: white;
    border:  2px solid grey ;
    border-radius: 4px;
}
div{
    width: 100px;
    height: 100px;
    margin-top: 8px;
    border: solid;
    display: inline-block;
}
#d1{
    background-color: rgba(0, 0, 255, 0.5);
}
#d2{
    background-color: rgba(255, 0, 0, 0.5);
}
#d3{
    background-color: rgba(0, 255, 0, 0.5);
}
*{
    font-family: 'Times New Roman', Times, serif;
}
#box1{
    width: 100px;
    height: 100px;
    background-color: blue;
}
#box2{
    height: 50%;
    width: 30%;
    background-color: yellow;
    font-size: 2em;
}
div{
    background-color: aqua;
    width: 100px;
    height: 100px;
    border: solid;
    display: inline-block;
}
body{
     background-image: url(panda_phota.jpg);
     background-size: cover;
}
#box1{
    position: sticky;
    height: 100px;
    width: 100px;
    top: 150px;
    left: 100px;
    z-index: 5;
   background-image: url(panda_phota.jpg);
     background-size: cover;
}
}
#box2{
    position: relative;
    top: 20px;
    left: 20px;
    z-index: -33;
}
#box3{
    position: absolute;
    top: 10px;
    z-index: 4;
}
#box4{
    position: fixed;
    top: 40px;
    left: 10px;
    z-index: 1;
}*/

/* body{
    text-align: center;
}
div{
    border: solid;
    height: 100px;
    width: 100px;
    display: inline-block;
}
#container{
    
    height: 300px;
    width: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: start;

}
#box1{
    background-color: aqua;
}
#box2{
    background-color: yellow;
    height: 100px;
    
    
}
#box3{
        background-color: yellow;
    }
#box4{
    background-color: green;
}       */

/* table{
    border-collapse: collapse;
}
td{
    border: 1px solid #000;
} */

/* li{
    list-style-type: none;
}
ul{
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
}
 #p{
    height: 200px;
    width: 200px;
    background-color: beige;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 #c{
    height: 100px;
    width: 100px;
    background-color: blue;
    border: solid;
 } */
  
 /* #r{
    border: solid;
    background-color: aqua;
    height: 100px;
    width: 100px;
    display: inline-block;
  }

  @media(min-width:600px){
    #r{
        background-color: red;
    }
  } */

   /* #box1{
    height: 100px;
    width: 100px;
    border: solid;
    background-color: aquamarine;
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 50px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0s;
    
  }

  #box1:hover{
    background-color: red;
    color: white;
    font-size: 40px;
    border-color: black;
    transform: rotate(45deg);
    transform: translate(50px,50px);
    transform: scale(1.25);
    transform: skew(20deg);
  }
  #box1:active{
    background-color: blue;
    font-size: 20px;

  }  */

   /* #box1{
    height: 100px;
    width: 100px;
    border: solid;
    background-color: black;
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 50px;
    animation: back 1s infinite , move 4s infinite;
    animation-direction: alternate;
    animation-delay: 0.2s;
    animation-timing-function: linear;
  }

  @keyframes back{
    0%{
        background-color: black;    
    }
    30%{
        background-color: aquamarine;
    }
    65%{
        background-color: blue;
    }
    100%{
        background-color: yellow;
    }
  } 
    @keyframes move{
    from{
        position: absolute;
        top: 50px;
        left: 50px;
    }
    to{
        position: absolute;
        top: 400px;
        left: 400px;
    }
  }  */
/* #box1{
    width: 50px;
    height: 50px;
    position: relative;
    top: 100px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box1::before{
    content: "";
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: solid;
    border-width: 10px;
    border-color: aquamarine;
    border-top: 10px solid yellow;
    animation: loader 1.5s ease-in-out 0s infinite normal;
}

@keyframes loader{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes text{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(0deg);
    }
} */


*{
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
 }
/* navbar(main)_box_first*/

#navbar{
    height: 60px;
    width: 100%;
    background-color: #0f1111;
    padding-left: 4px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* box no.1 */

.nav_logo{
    height: 50px;
    width: 100px;
}
#amazon_logo{
    height: 50px;
    width: 100px;
    background-image: url(amazon_logo.jpg);
    background-size: cover;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid lightblue;
}
/* box no. 2 */

.add_first{
    color: #cccccc;
    font-size: 1rem;
    margin-left: 20px;
}

.add_second{
    color: white;
    font-size: 1rem;
    align-items: center;
}

i{
    color: aliceblue;
}

.nav_address{
    height: 45px;
    width: 100px;
    padding-top: 4px;
    
}
.add_icon{
    display: flex;
}
/* box no. 3 */

.nav_search{
    display: flex;
    width: 700px;
    height: 40px;
    background-color: pink;
    border-radius: 4px;
    border: 2px solid transparent;
    justify-content: space-evenly; 
}

.nav_search:hover{
    border: 2px solid orange;
}
.search_select{
    background-color: #f3f3f3;
    padding: 5px;
    width: 45px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    color: black;
}

.search_input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search_icon{
    width: 45px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 1.2rem;
    
}

/* box no. 4 */

.nav_signin{
    width: 100px;
    text-align: center;
}
/* box no 5 */

span{
    font-size: 0.7rem;
}

.nav_second{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav_return{
    width: 70px;
    text-align: center;
}
/* box no.6 */

.nav_cart i{
    font-size: 30px;
    
}

.nav_cart{
    font-size: 0.85rem;
    display: flex;
    text-align: end;
    justify-content: center;
    align-items: end;
    width: 72px;
    height: 35px;
    font-weight: 700;
}
    /* navbar(main)_box_second */

.panel{
    height: 40px;
    width: 100%;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel_ops{
    display: flex;
    width: 75%;
    font-size: 0.85rem;
}

.panel_ops p{
    margin: 20px;
}

.panel_deals{
    font-size: 0.9rem;
    font-weight: 700;
    height: 20px;
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    /* web_body_section */

.hero_section{
    background-image: url(heros_2.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero_msg{
    width: 95%;
    margin-bottom: 10px;
    
}
.hero_msg *{
    background-color: white;
    color: #0f1111;
    height: 40px;
     display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    font-family: Arial, Helvetica, sans-serif;
}
.hero_msg a{
    color: #007185;
    margin-left: 4px;
}

.shop_section{
   display: flex;
   flex-wrap: wrap;
    justify-content: space-evenly; 
    background-color: lightblue;
}

.shop_section div{
    color: #0f1111;
    
}

.box{
    height: 550px;
    width: 23%;
    background-color: white;
    margin-top: 20px;
    
}

.box1_head{
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-weight: 700;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.box1_body{
    background-image: url(char_image.jpg);
    background-size: cover;
    height: 470px;

}

.box1_foot{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    height: 35px;
    font-size: 16px;
}

.box1_content{
    margin: 0px 20px 0px 20px;
}
    /* web_footer_section_1 */

.footer_panel1{
    background-color: #37475a;
    margin-top: 15px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    /* web_footer_section_2 */

.footer_panel2{
    height: 300px;
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

ul a{
    display: block;
    font-size: 0.85;
    margin-top: 8px;
    color: #dddddd;
}

ul p{
    font-size: 1.1rem;
    font-weight: 700;
}    
    /* web_footer_section_3 */

.footer_panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 45px;
    width: 100px;
    background-image: url(amazon_logo.jpg);
    background-size: cover;
}
     /* web_footer_section_4 */

.footer_panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    display: block;
    text-align: center;
    padding-top: 25px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.footer_panel4 p{
    margin-top: 10px;
}